<%= form_with(model: tweet) do |form| %>

<table border=0 cellpadding=2>
<tr>
  <td>Your name:</td>
  <td><%= form.text_field :author, size:"70"%></td>
<tr>
  <td>Your tweet:</td>
  <td><%= form.text_area :content, rows:"2", cols:"70"%></td>
  <td><%= form.submit :Tweet! %></td>
</tr>
</table>
<% end %>
