<p style="color: green"><%= notice %></p>

<h1 class="wottitle">Wall of Tweets</h1>

<div class="walltweet">
  <%= render "form", tweet: @tweet %>
</div>

<div id="tweets">
  <% @actual_day = "" %>
  <% @tweets.each do |tweet| %>
   <% @tweeet_day = tweet.created_at.strftime("%A, %B %d, %Y") %>
    <% if @actual_day != @tweeet_day %>
    <h3>
      ......
      <%= @actual_day = @tweeet_day %>
    </h3>
  <% end %>
    <%= render tweet %>
  <% end %>
</div>
