<p style="color: green"><%= notice %></p>

<h1 class="wottitle">Wall of Tweets</h1>

<%= link_to "New tweet", new_tweet_path %>

<div id="tweets">
  <% @tweets.each do |tweet| %>

    <%= render tweet %>
  <% end %>
</div>
